.bottom-info {
    padding-top: 65px;
}

.bottom-info__row {
    display: flex;
    justify-content: space-between;
}

// Вынести в компонент info
.info--medium {
    width: 530px;
}

.info--large {
    width: 777px;
}