.header {
    height: 100vh;
    padding-top: 36px;
    background-color: #f3e1d5;
    background-image: url("../../img/backgrounds/bg-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-height: 880px) {
        height: 800px;
    }
}

.header__nav-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
    
    @media (min-width: 980px) {
        align-items: center;
        margin-bottom: 150px;
    }
}

.header-nav {
    display: none;

    @media (min-width: 980px) {
        display: flex;
        font-size: 1.4375rem;
        color: #404040;
        font-family: 'Teko', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .45px;
    }
}

.header__nav-link {
    position: relative;
    margin-right: 52px;
    color: #404040;
    text-decoration: none;
    @include transition(background-color, 0.2s, ease-in);


    &:last-child {
        margin-right: 0;

        &::after {
            display: none;
        }
    }

    &:focus,
    &:hover,
    &--active {
        color: #004cff;
    }

    &::after {
        position: absolute;
        right: -28px;
        top: 8px;
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background-color: #004cff;
        transform: rotate(45deg);
        pointer-events: none;
    }
}

.header__nav-button {
    display: block;

    @media (min-width: 980px) {
        display: none;
    }
}

.header__button {
    display: none;
    height: 66px;
    padding: 23px 36px 0;
    background-color: #004cff;

    font-family: 'Teko', sans-serif;
    font-size: 1.4375rem;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .45px;
    @include transition(background-color, 0.2s, ease-in);

    &:focus,
    &:hover {
        background-color: #0a3fbb;
    }

    @media (min-width: 980px) {
        display: inline-block;
    }
}

.header__promo {
    max-width: 400px;
}

.header__title {
    margin-bottom: 60px;

    font-family: 'Teko', sans-serif;
    font-size: 2.625rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: 2.73px;

    @media (min-width: 480px) {
        font-size: 3.25rem;
    }

    @media (min-width: 780px) {
        font-size: 4.25rem;
    }
}

.header__promo-button {
    display: inline-block;
    padding: 14px 48px 0;
    height: 60px;
    border: 6px solid #fff;

    font-size: 1.125rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: border-color, color 0.2s ease-in;

    &:focus,
    &:hover {
        color: #ffd03b;
        border-color: #ffd03b;
    }
}