.section-service {
    padding: 104px 0;
}

.section-service__row {
    display: flex;
    justify-content: space-between;
}

.service-block {
    display: flex;
    justify-content: space-between;
    width: 32%;
    border: 3px solid #707070;
    background-color: #fff;
    color: #000;
    padding: 35px 30px;

    p {
        font-size: 0.6875rem;
        font-weight: 400;
        line-height: 1.5;
    }
}

.service-block__description {
    width: 144px;
}

.service-block__title {
    min-height: 36px;
    color: #262626;
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 10px;
}