.subscribe-wrapper {
    margin-top: 44px;
}

.subscribe {
    position: relative;
    overflow: hidden;
    padding: 35px 0;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 76, 255, .75);
        z-index: 3;
    }

    @media (min-width: 768px) {
        padding: 155px 0;
    }

    @media (min-width: 540px) {
        padding: 85px 0;
    }
}

.subscribe-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.subscribe-content {
    position: relative;
    z-index: 3;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe__title {
    font-family: "Teko", sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        font-size: 6.0625rem;
        margin-bottom: 80px;
    }
    
    @media (min-width: 540px) {
        font-size: 3.875rem;
        margin-bottom: 40px;
    }
}

.subscribe__form {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 540px) {
        flex-direction: row;
    }

    @media (min-width: 992px) {
        width: 900px;
    }
}

.subscribe__input {
    flex-grow: 2;
    background-color: #fff;
    padding: 0 44px;
    border: none;
    height: 62px;
    font-weight: "Montserrat", sans-serif;
    color: #707070;
    font-size: 1.1875rem;
    font-weight: 400;
}

.subscribe__button {
    display: inline-block;
    width: 100%;
    height: 62px;
    flex-shrink: 0;
    border: none;
    background-color: #004cff;
    font-weight: "Montserrat", sans-serif;
    font-size: 1.1875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: background-color .2s ease;

    &:hover {
        background-color: #3471ff;
    }

    &:active {
        background-color: #2f65e2;
    }

    @media (min-width: 540px) {
        width: 180px;
    }
}