.top-info {
    padding: 44px 0 0 0;
    padding-bottom: 60px;
}

.top-info__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.info--wide .info__content-title {
    width: 400px;
    top: 100px;
    left: 145px;
    font-size: 4.875rem;
}

.info--wide .info__content-discount {
    right: 68px;
    bottom: 70px;
    width: 145px;
    font-size: 4.875rem;

    span {
        font-size: 2.6875rem;
    }
}