.top-panel {
    height: 78px;
    background-color: #262626;
    color: #f8f8f8;
}

.row-top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-panel__notification {
    font-size: .6875rem;
    margin-right: 15px;
    font-weight: 500;

    @media (min-width: 780px) {
        font-size: .75rem;
        margin-right: 0;
    }
}

.top-panel__icons {
    display: flex;
    align-items: center;
}

.top-panel__link {
    display: inline-block;
    margin-right: 28px;

    &:last-child {
        margin-right: 0;
    }
}